body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(21, 8, 43);
}

.container {
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#toggle-text {
  text-align: center;
  margin-top: 10px;
  font-size: 0.9em;
}

#toggle-text span {
  color: #007BFF;
  cursor: pointer;
  font-weight: bold;
}
